name: PR Check

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest pytest-asyncio pytest-cov

    - name: Run tests with coverage
      run: |
        pytest tests/ --asyncio-mode=auto --cov=src/slidedeckai --cov-report=xml --cov-report=html

    - name: Upload test results and coverage
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: pytest-results
        path: |
          htmlcov
          coverage.xml
        retention-days: 30

    - name: Coverage Report
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.xml
        fail_ci_if_error: true
        verbose: true

