name: Publish to PyPI

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  contents: read  # Default read permission for all jobs
  id-token: write  # Overridden for the pypi-publish job

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/slidedeckai
    permissions:
      id-token: write  # Enables OIDC authentication

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true  # This ensures Git LFS files are downloaded

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: |
          rm -rf dist/ build/ *.egg-info
          python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist